@page "/Login"
@using AuthenCard.Models
@using AuthenCard.Controller
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager _navigationManager
@rendermode InteractiveServer

<PageTitle>scan CID card</PageTitle>
<div>
    <label>Username</label>
    <br/>
    <input value="@InputValue1" @onchange="((ChangeEventArgs __e) => InputValue1 = __e?.Value?.ToString())">
    <br/>
    <label>Password</label>
    <br/>
    <input value="@InputValue2" @onchange="((ChangeEventArgs __e) => InputValue2 = __e?.Value?.ToString())">
    <br/>
    <button class="btn btn-primary" @onclick="Click" >Login</button> 
</div>

    @if(loadFailed)
    {
        <h2>กรุณาตรวจสอบชื่อและรหัสผ่านว่าถูกต้องหรือไม่</h2>
    }

@code {
    public string InputValue1 {get; set;}
    public string InputValue2 {get; set;}
    public LoginHos logins {get; set;} = new();
    bool loadFailed = false;

    public async void Click()
    {  
        var username = InputValue1;
        var password = InputValue2;
        var client = new HttpClient();
        var logins = await ServiceHelper2.GetLogin(username, password);
        try
        {
            if(logins.passweb != null)
            {
               _navigationManager.NavigateTo("/");
            }
            else
            {
               loadFailed = true;
            }
        }
        catch (Exception e)
        {
            loadFailed = true;
        }
    }
    
}